<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.fengwoo.sealsteward">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取外部存储器 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 百度定位权限,支付宝,微信支付权限 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- JPUSH权限 -->
    <permission
        android:name="cn.fengwoo.sealsteward.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="cn.fengwoo.sealsteward.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- 读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- android 9.0上使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".view.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <!-- Matisse使用拍照添加一个provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.fengwoo.sealsteward.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxf3669f6ea87d71d4" />
            </intent-filter>
        </activity>

        <!-- 添加百度定位AK -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="glAuMXX5Qm2zKVbsXYLVzEuQrsrNYqF2" />
        <!-- 申明百度service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" /> <!-- 点击edittext搜索防止键盘将底部导航顶上来 -->

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />

        <!-- JPUSH推送！！！！！！！！！！！！！！！！ -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="9e7893ce355ddaebc87339dd" />

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.fengwoo.sealsteward" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="cn.fengwoo.sealsteward.DataProvider"
            android:exported="false"
            android:process=":pushcore" />
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="cn.fengwoo.sealsteward.DownloadProvider"
            android:exported="true" />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="cn.fengwoo.sealsteward" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- JPUSH结束！！！！！！！！！！！！！！！！！ -->

        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.PersonCenterActivity" />
        <activity android:name=".activity.MyCompanyActivity" />
        <activity android:name=".activity.MySignActivity" />
        <activity android:name=".activity.MyUserActivity" />
        <activity android:name=".activity.OrganizationalStructureActivity" />
        <activity android:name=".activity.SealOperationActivity" />
        <activity android:name=".activity.RecordDetailActivity" />
        <activity android:name=".activity.UseSealApplyActivity" />
        <activity android:name=".activity.MySealListActivity" />
        <activity android:name=".activity.SealListOperationActivity" />
        <activity android:name=".activity.ApplyCauseActivity" />
        <activity android:name=".activity.SealDetailActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.SetPasswordActivity" />
        <activity android:name=".activity.AddSealActivity" />
        <activity android:name=".activity.AddSealSecStepActivity" />
        <activity android:name=".activity.AddUserActivity" />
        <activity android:name=".activity.AddUserByScanActivity" />
        <activity android:name=".activity.MyApplyActivity" />
        <activity android:name=".activity.NearbyDeviceActivity" />
        <activity android:name=".activity.MyQRCodeActivity" />
        <activity android:name=".activity.CompanyQRCodeActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.PplAddAgreeActivity" />
        <activity android:name=".activity.PplAddActivity" />
        <activity android:name=".activity.ScannedCompanyActivity" />
        <activity android:name=".activity.ApplyJoinCompanyActivity" />
        <activity android:name=".activity.MyWebViewActivity" />
        <activity android:name=".activity.ScanToLoginActivity" />
        <activity android:name=".activity.RecordSearchActivity" />
        <activity android:name=".activity.PwdRecordSearchActivity" />
        <activity android:name=".activity.SelectPeopleMultiActivity" />
        <activity android:name=".activity.SelectSealMultiActivity" />
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.CameraAutoActivity" />
        <activity android:name=".activity.ChangeSealActivity" />
        <activity android:name=".activity.SelectReplaceSealActivity" />
        <activity android:name=".activity.RepairActivity" />
        <activity android:name=".activity.DfuActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.PwdUserActivity" />
        <activity android:name=".activity.AddPwdUserActivity" />
        <activity android:name=".activity.VoiceActivity" />
        <activity android:name=".activity.SafeActivity" />
        <activity android:name=".activity.EditOrganizationActivity" />
        <activity android:name=".activity.EditOrganizationNameActivity" />
        <activity android:name=".activity.SelectSinglePeopleActivity" />
        <activity android:name=".activity.ExamineActivity" />
        <activity android:name=".activity.SealInfoActivity" />
        <activity android:name=".activity.SelectSealActivity" />
        <activity android:name=".activity.SelectSealToFlowActivity" />
        <activity android:name=".activity.SelectSealTypeOneActivity" />
        <activity android:name=".activity.SelectSinglePeopleTypeOneActivity" />
        <activity android:name=".activity.SelectPeopleActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.SuggestionActivity" />
        <activity
            android:name=".activity.FileActivity"
            tools:replace="android:name" />
        <activity android:name=".activity.ApprovalActivity" />
        <activity android:name=".activity.UploadFileActivity" />
        <activity android:name=".activity.ApplyUseSealActivity" />
        <activity android:name=".activity.WaitMeAgreeActivity" />
        <activity android:name=".activity.ApprovalConfirmActivity" />
        <activity android:name=".activity.StartPasswordActivity" />
        <activity android:name=".activity.ApprovalRecordActivity" />
        <activity android:name=".activity.ScanSearchAddSealActivity" />
        <activity android:name=".activity.CompanyDetailActivity" />
        <activity android:name=".activity.GeographicalFenceActivity" />
        <activity android:name=".activity.SeeRecordActivity" />
        <activity android:name=".activity.SetPowerActivity" />
        <activity android:name=".activity.SetPowerOnlyReadActivity" />
        <activity android:name=".activity.SetApprovalActivity" />
        <activity android:name=".activity.PersonInformationActivity" />
        <activity android:name=".activity.RechargeRecordActivity" />
        <activity android:name=".activity.WaitHandleActivity" />
        <activity android:name=".activity.ChangeInformationActivity" />
        <activity android:name=".activity.AddCompanyActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.OrganizationalManagementActivity" />
        <activity android:name=".activity.OrganizationalManagementPlusActivity" />
        <activity
            android:name=".activity.AddAutographActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.SelectSealRecodeActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.SurePayActivity" />
        <activity android:name=".activity.MessageListActivity" />
        <activity android:name=".activity.UseInstructionsActivity" />
        <activity android:name=".activity.BigImgActivity" />
        <activity android:name=".activity.MsgActivity" />

        <service android:name=".utils.DfuService" />

        <activity android:name=".activity.SelectPwdRecordActivity" />
        <activity android:name=".activity.SelectPwdRecordQueryActivity" />
        <activity android:name=".activity.ApprovalFlowActivity" />
        <activity android:name=".activity.AddApprovalFlowActivity" />
        <activity
            android:name=".activity.SelectDialogActivity"
            android:theme="@style/dialogstyle" />
        <activity android:name=".activity.AddApprovalFlowTypeActivity" />
        <activity android:name=".activity.FingerPrintActivity" />
        <activity android:name=".activity.ChangePhoneActivity" />
        <activity android:name=".activity.ChangeCompanyBelongActivity"/>
    </application>

</manifest>